body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: cadetblue;
  background: linear-gradient(90deg, aliceblue, lightgray);
}

header {
  background: linear-gradient(90deg, aliceblue, lightgray);
  color: rgb(176, 175, 175);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  position: sticky;
  top: 0;
}
h2 {
  display: inline-block;
}
.homeIcon {
  width: 2em;
  height: 2em;
  margin-bottom: 1em;
}
#topArrow {
  margin-right: 15em;
}

.button {
  background-color: cadetblue;
  color: aliceblue;
  border: 0;
  border-radius: 10px;
  font-size: 1em;
  padding: 0.3em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.button:hover {
  box-shadow: 2px 2px 2px 2px rgb(91, 91, 92);
}
.button:disabled {
  box-shadow: none;
  background-color: rgb(123, 189, 150);
  color: whitesmoke;
}
input {
  margin-bottom: 1em;
  background-color: aliceblue;
  border: 2px solid cadetblue;
  border-radius: 10px;
  color: cadetblue;
}

.objImage {
  max-width: 200px;
  margin: 1em 0 1em 0;
}
.objImage2 {
  max-height: 800px;
  margin: 1em 0 1em 0;
}
.infoDiv {
  margin-left: 2em;
}

.infoDiv2 {
  font-size: 1.4em;
}

.footerLogo {
  width: 1.5em;
  height: 1.5em;
  margin: 0 1em 0 1em;
  cursor: pointer;
}

footer p {
  margin-bottom: 0.5em;
}
